<div class="content">
  <div>
    <div id="filtros">
      <div>
        <label for="fechaInicio">Fecha de inicio:</label>
        <input type="date" id="fechaInicio" [(ngModel)]="fechaInicio" />
        <label for="fechaFin">Fecha de fin:</label>
        <input type="date" id="fechaFin" [(ngModel)]="fechaFin" />
      </div>
      <br />
      <div>
        <label for="origen">Extensión Origen:</label>
        <input type="text" id="origen" [(ngModel)]="origen" />
        <br /><br />
        <label for="destino">Extensión Destino:</label>
        <input type="text" id="destino" [(ngModel)]="destino" />
      </div>
      <br />
      <div>
        <label for="filtroCiudad">Filtrar por Ciudad:</label>
        <select id="filtroCiudad" [(ngModel)]="ciudad">
          <option value="">Todas</option>
          <option *ngFor="let city of ciudades" [value]="city.value">
            {{ city.name }}
          </option>
        </select>
        <select id="" [(ngModel)]="estadoLlamada">
          <option value="">Todas</option>
          <option *ngFor="let estado of estados" [value]="estado.value">
            {{ estado.status }}
          </option>
        </select>
        <button (click)="buscar()">Buscar</button>
        <button (click)="generarReporte()">Generar PDF</button>
      </div>
    </div>
  </div>
  <br /><br />
  <div id="tabla" *ngIf="results">
    <div>
      <!-- Botones de navegación -->
      <button (click)="prevPage()" [disabled]="currentPage === 1">
        Anterior
      </button>
      <span>{{ currentPage }}</span>
      <!-- Muestra el número de página actual -->
      <button
        (click)="nextPage()"
        [disabled]="currentPage * pageSize >= calls.length"
      >
        Siguiente
      </button>
    </div>

    <table id="results">
      <thead>
        <tr>
          <th>Fecha de llamada</th>
          <th>Origen</th>
          <th>Destino</th>
          <th>Duración</th>
          <th>Estado</th>
          <th>Ciudad</th>
        </tr>
      </thead>
      <!-- <tbody id="tabla"> -->
      <tbody>
        <tr
          *ngFor="
            let call of calls
              | slice : (currentPage - 1) * pageSize : currentPage * pageSize
          "
        >
          <td>{{ call.calldate }}</td>
          <td>{{ call.src }}</td>
          <td>{{ call.dst }}</td>
          <td>{{ call.billsec }} seg.</td>
          <td>{{ estadosLlamada[call.disposition] || "NA" }}</td>
          <td>{{ cities[call.branch] }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
